@model  EOS2.Web.Areas.Organizations.ViewModels.Common.ChannelViewModel
            
        @{    
            var channelInError = 0;

            if(!ViewData.ModelState.IsValid) {
                var channelError = ViewData.ModelState["ChannelId"];

                if(channelError != null) {
                    channelInError = (int)channelError.Value.ConvertTo(typeof(int));
                }
            }                            
                
            var channelTypes = new SelectList(Model.ChannelTypes, "Id", "Name", channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedChannelTypeId") ? Model.SelectedChannelTypeId : 0);
            var equipment = new SelectList(Model.Equipment, "Id", "Name", channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedEquipmentTypeId") ? Model.SelectedEquipmentTypeId : 0);
            var scheduleTypes = new SelectList(Model.ScheduleFrequency, "Id", "Name", channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedScheduleFrequencyId") ? Model.SelectedScheduleFrequencyId : 0);                
         }           
<tr>
        <td class="col-sm-1">
            <input type="hidden" name="__prefix" value="@ViewData.TemplateInfo.HtmlFieldPrefix" />
            @Html.Hidden("Id", Model.Id)                        
            <div class="@(channelInError == Model.Id && !ViewData.ModelState.IsValidField("Number") ? "form-group has-error": "form-group")">
                @Html.TextBox("Number", Model.Number,new {@class = "form-control"})
            </div>
        </td>
        <td class="col-sm-2">
            <div class="@(channelInError == Model.Id && !ViewData.ModelState.IsValidField("Name") ? "form-group has-error": "form-group")">
                @Html.TextBox("Name", Model.Name,new {@class = "form-control"})
            </div>
        </td>
        <td class="col-sm-3">
            <div class="@(channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedChannelTypeId") ? "form-group has-error" : "form-group")">
                @Html.DropDownList("SelectedChannelTypeId",channelTypes,"[[[Please Select ...]]]",new {@class = "form-control"})            
            </div>
        </td>
        <td class="col-sm-3">
            <div class="@(channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedEquipmentTypeId") ? "form-group has-error" : "form-group")">
                @Html.DropDownList("SelectedEquipmentTypeId",equipment,"[[[Please Select ...]]]",new {@class = "form-control"})
            </div>
        </td>
        <td class="col-sm-3">       
            <div class="@(channelInError == Model.Id && !ViewData.ModelState.IsValidField("SelectedScheduleFrequencyId") ? "form-group has-error" : "form-group")">
                @Html.DropDownList("SelectedScheduleFrequencyId",scheduleTypes,"[[[Please Select ...]]]",new {@class = "form-control"})
            </div>
        </td>
        <td class="col-sm-1">
            <button type="submit" class="btn btn-primary">[[[Save]]]</button>
        </td>
</tr>