@model EOS2.Web.Areas.Organizations.ViewModels.Users.UserPasswordViewModel

@{
    ViewBag.Title = "[[[Set Password]]]";
}

<h2>[[[Set Password for ]]] - @Html.DisplayFor(m => m.Name)</h2>

<hr />

@using (Html.BeginForm( "Password", "Users"))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    
    @Html.HiddenFor(m => m.Name)    

    if (!string.IsNullOrWhiteSpace(TempData["ControllerActionMessage"] as string))
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            @(TempData["ControllerActionMessage"] as string)
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-medium" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmationPassword)
        @Html.PasswordFor(m => m.ConfirmationPassword, new { @class = "form-control input-medium" })
        @Html.ValidationMessageFor(m => m.ConfirmationPassword)
    </div>

    <div class="form-group input-options">
        <button type="submit" class="btn btn-primary">[[[Save]]]</button>

        @Html.ActionLink("[[[Cancel]]]", "Edit", "Users", new { @id = @Model.Id }, new { @class = "btn btn-default" })
    </div>
}     