@using EOS2.Web.Areas.Organizations.ViewModels.Common
@model Tuple<IEnumerable<InstrumentViewModel>, int, int, int>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <a class="btn btn-default btn-sm pull-right" href="@Url.RouteUrl("CustomerOrganization_NewSitePlantAreaInstruments", new { CustomerId = @Model.Item2, SiteId = @Model.Item3, PlantAreaId = @Model.Item4 })">
            <span class="glyphicon glyphicon-plus"></span> [[[Add Instrument]]]
        </a>
        <h3 class="panel-title">[[[Instruments]]]</h3>
    </div>
    <div class="panel-body">

        @if (!string.IsNullOrWhiteSpace(TempData["ControllerActionMessageInstrument"] as string))
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">
                    &times;
                </button>
                @(TempData["ControllerActionMessageInstrument"] as string)
            </div>
        }

        @if (Model.Item1.Any())
        {
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().Name)</th>
                        <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().Type)</th>
                        <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().Model)</th>
                        <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().SerialNumber)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            @{
                        var currentItem = item;
                            }
                            <td>@Html.DisplayFor(i => currentItem.Name)</td>
                            <td>@Html.DisplayFor(i => currentItem.Type.Name)</td>
                            <td>@Html.DisplayFor(i => currentItem.Model)</td>
                            <td>@Html.DisplayFor(i => currentItem.SerialNumber)</td>
                            <td>
                                @Html.RouteLink("[[[Details]]]", "CustomerOrganization_SitePlantAreaInstrument", 
                                        new { 
                                            CustomerId = Model.Item2, 
                                            SiteId = Model.Item3, 
                                            PlantAreaId = Model.Item4, 
                                            InstrumentId = currentItem.Id 
                                        }, 
                                        new { @class = "btn btn-default btn-sm" })


                                @Html.RouteLink("[[[Channels]]]", "CustomerOrganization_SitePlantAreaInstrumentsChannels",
                                        new
                                        {
                                            CustomerId = Model.Item2,
                                            SiteId = Model.Item3,
                                            PlantAreaId = Model.Item4,
                                            InstrumentId = currentItem.Id
                                        },
                                        new { @class = "btn btn-default btn-sm" })                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>




